.products {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.products__list {
  cursor: pointer;
  background-color: #dedede;
  border: 1px solid black;
  border-radius: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.pagination > span {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #ececec;
  padding: 4px;
  cursor: pointer;
}

.pagination .selected {
  background-color: #bfbcbc;
}
